NODE_ENV=  development

INNGEST_DEV=1 

# with srv method
MONGO_URL= ""

# when srv method fails
MONGO_URL= ""

UPLOADTHING_TOKEN=''

FRONTEND_URL="http://localhost:5173"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:5173"

GEMINI_KEY= ""

POLAR_PRODUCT_ID=""
POLAR_ACCESS_TOKEN=""
POLAR_WEBHOOK_SECRET=""